@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>Are you sure you want to remove this stylist?</h2>

@Html.DisplayNameFor(model => model.StylistName)
@using (Html.BeginForm())
{
    <input type="submit" value="Remove" />
}
@Html.ActionLink("Back to all stylists", "Index")