@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h2>DELETE STYLIST</h2>
<hr />
<h4>Are you sure you want to remove @Html.DisplayFor(model => model.StylistName)?</h4>

@using (Html.BeginForm())
{
    <input type="submit" value="Remove" class="btn btn-danger">
}
<hr />
<p>@Html.ActionLink("Return to all stylists", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>
