@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<h2>REMOVE CLIENT</h2>
<hr />
<h4>Are you sure you want to remove this client?</h4>
<label>Client Name: </label>
@Html.DisplayFor(model => model.ClientName)
@using (Html.BeginForm())
{
    <input type="submit" value="Remove" class="btn btn-danger">
}
<hr />
<p>@Html.ActionLink("Back to all clients", "Index")</p>
<p>@Html.ActionLink("Return home", "Index", "Home")</p>
